

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #ffffff;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background: #f2f2f2;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 70px;
    height: 70px;
}


main {
    padding: 20px;
}

#homeContainer, 
#categoryContainer {
    display: flex;
}

/* LEFT SIDE */

.leftSide, 
#categoryMenu {
    width: 220px;
    margin-right: 20px;
}

/* RIGHT SIDE */

.rightSide, 
#booksArea {
    flex-grow: 1;
}


button.selectedCategory,
button.notSelectedCategory {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    background: white;
    cursor: pointer;
}

button.selectedCategory {
    background: #dcdcdc;
    font-weight: bold;
}



.categoryBox {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.categoryBox img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid #ccc;
}

.categoryBox p {
    margin-top: 5px;
    font-size: 16px;
}

#searchForm {
    display: flex;
    align-items: center;
    gap: 8px;
}

#searchForm input {
    padding: 6px;
    font-size: 14px;
}



.bookCard {
    display: flex;
    background: #fafafa;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 20px;
    gap: 15px;
}

.bookCard img {
    width: 120px;
    height: 180px;
    object-fit: cover;
    border: 1px solid #aaa;
}

.bookInfo h3 {
    margin-bottom: 5px;
}



footer {
    background: #f2f2f2;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}
